*{padding: o;
    margin: 0;
 }
  .a{
    background-color:teal;
    height: 50 px;
    border-right: 1 px color #aaa;
}
.b{
    height: 50 px;
    width: 450;
    margin:0 auto;
}
.c{
    list-style-type:none;
    width: 150 px;
    float: left;
}
.c{
    text-decoration: none;
    color:blue;
    line-height: 5o px;
    display:block;
}
.c:hover{
    background-color: turquoise;
    color: wheat;
}
.footer{
    position:fixed;
    width: auto;
    background-color: blue;
    color: cornsilk;
    text-align: center;
}
.d11{
    width: 150 px;
    float: left;
    height: 250 px;
    background-color: blueviolet;
    border: 1 px solid #aaa;
    margin: 50 px;
    }
.e11{
    width: 150 px;
    float: left;
    height: 250 px;
    background-color: aquamarine;  
    border: 1 px solid #aaa;
    margin: 50 px;
}